body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;    
    z-index: 10;
    background-color: #ff3d00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    padding-left: 120px;
}
#btn-carrinho {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: bold;
    background: white;
    color: #ff3d00;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 5px;
}
.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 12px;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    cursor: pointer;
}
.card:active{
    transform: scale(0.97);
}
.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.card h3{
    font-size: 14px;
    margin: 8px;
}
.card p {
    font-size: 13px;
    margin: 0 8px 8px;
    color: #555;
}

.card button {
    margin: 8px;
    margin-top: auto;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.card.animar {
    animation: adicionar 0.3s ease;
}
button {
    background-color: #ff3d00;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
button:hover {
    background-color: #e63600;
}
button:active {
    transform: scale(0.92);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    animation: fundoFade 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding: 20px 10px;
    z-index: 9999;
}

.oculto {
    display: none;
}

.modal-box {
    max-height: 85vh;
    overflow-y: auto;
    margin-top: 10px;
    background: white;
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
    width: 320px;
    scrollbar-width: thin;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform: scale(0.9);
    animation: abrirModal 0.25s ease forwards;
    scroll-behavior: smooth;
}

.modal-box h2 {
    position: sticky;
    top: 0;
    background: white;
    padding-bottom: 10px;
}

#img-principal {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#miniaturas {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

#miniaturas img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
}

#miniaturas img:hover {
    border: 2px solid #ff3d00;
}

#carrinho  {
    position: fixed;
    right: 10px;
    top: 80px;
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#lista-carrinho li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes-carrinho {
    display: flex;
    gap: 5px;
}

#lista-carrinho button {
    margin-left: 5px;
    padding: 3px 6px;
}
#lista-carrinho span {
    font-size: 14px;
}

.corButaoMenos{
    background: rgb(255, 120, 120);
    font-size: 25px;
    width:  30px;
}

.corButaoAumentar {
    background: rgb(5, 255, 30);
    font-size: 25px;
    width:  30px;
}
.corButaoAumentar:hover{
    background: green;
}
.corButaoRemover{
    background: rgb(255, 0, 0);
    font-size: 25px;
    width:  30px;
}

.titulo-form {
    margin-bottom: 15px;
    color: #ff3d00;
}

.campo {
     display: flex;
     flex-direction: column;
     margin-bottom: 12px;
     text-align: left;
     margin-top: 10px;
}
.campo label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #555;
}

.campo input,
.campo select {
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
}

.campo input:focus,
.campo select:focus {
    border-color: #ff3d00;
    box-shadow: 0 0 5px rgba(255, 61, 0, 0.3);
}

.botoes-form {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#nomeCliente {
    border: 2px solid #ff3d00;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background: #ff3d00;
    color: white;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transition: all 0.3s ease;
    z-index: 99999;
}

.toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}

@keyframes pulse {
    0% {transform:  scale(1);}
    50% {transform : scale(1.1);}
    100% {transform : scale(1);}
}
.pulse{
    animation: pulse 0.3s ease;
}
@keyframes adicionar {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes aparecer {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes abrirModal {
    from{
        opacity: 0;
        transform: scale(0.85);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fundoFade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media(max-width: 600px){
    .modal-box {
        width: 95%;
        max-height: 90vh;
        overflow-y: auto;
        padding: 15px;
    }
}
@media(max-width: 480px){
    .produtos{
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    #btn-carrinho{
        top: 6px;
        left: 6px;
        padding: 7px 10px;
        font-size: 13px;
        z-index: 1000;
    }
}

@media(max-width: 350px) {
    .produtos{
        grid-template-columns: 1fr;
    }
}